<ion-content class="ion-padding-top">

  <table class="table  mt-5 table-dark">
    <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.title }}</td>
      <td>

        <ion-icon [routerLink]="['/one-product', product.id]" size="large" name="eye-outline"></ion-icon>
        <ion-icon [routerLink]="['/edit-product', product.id]" size="large" name="create-outline"></ion-icon>

        <ion-icon size="large" (click)="delete(product.id)" name="trash-outline"></ion-icon>
      </td>
    </tr>
    </tbody>
  </table>

</ion-content>
