<ion-header>
  <ion-toolbar>
    <ion-button slot="start" routerLink="/product-list" ><ion-icon name="home"></ion-icon></ion-button>
    <ion-title>oneProduct</ion-title>
    <ion-button slot="end" [routerLink]="['/edit-product', product.id]" ><ion-icon name="create-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <img alt="Recette image" src="{{ product.picture }}" />
    <ion-card-header>
      <ion-card-title>{{product.title}}</ion-card-title>
      <ion-card-subtitle>{{ product.category_id }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        <h3>Temps cuisson</h3>
      <p>{{ product.cooktime }}</p>
      </ion-text>
      <ion-text>
        <h3>Temps préparation</h3>
      <p>{{ product.preparetime }}</p>
      </ion-text>
      <ion-text>
        <h3>Coût</h3>
      <p>{{ product.cost }}</p>
      </ion-text>
      <ion-text>
        <h3>Nombre de portions</h3>
      <p>{{ product.nbportion }}</p>
      </ion-text>
      
 
      <ion-text>
        <h3>Ustensiles</h3>
       <p>{{ product.tools }}</p>
      </ion-text>
      <ion-text>
        <h3>Difficulté</h3>
       <p>{{ product.level }}</p>
      </ion-text>
      <ion-text>
        <h3>Ingredients</h3>
        <p>{{ product.ingredients }}</p>
      </ion-text>
      <ion-text> 
        <h3>Etapes</h3>
        <p>{{ product.steps }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>

